.section__privacity__container {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
}

.section__privacity__container h1 {
    width: 100%;
}

.section__privacity__description {
    display: block;
    max-width: 1000px;
}

@media (max-width: 996px) {
    .section__privacity__container {
        align-items: stretch; 
    }
}
