.section__car__form, .section__category__form {
    margin-top: 130px;
    margin-bottom: 150px;
}

@media (min-width: 1000px) {
    .section__car__detail {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .section__car__detail__description {
        width: 50%;
        height: 50%;
    }
}

